Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

ci: add cygwin badges
  .github/workflows/cyg-auto.yml
  .github/workflows/cyg.yml
Labels: ci

ci: add cygwin badges
  .github/workflows/cyg.yml
  WATCHME.md
Labels: repo, ci

ci: fix typo
  .github/workflows/cyg-auto.yml
Labels: ci

deploy: 8f0767df9c8db925e9ac4e35303ec129a9af965a
  develop/class_h5_1_1_attribute.html
  develop/class_h5_1_1_group.html
  develop/class_h5_1_1_h5_file.html
  develop/search/all_f.js
  develop/search/functions_c.js
Labels: none

ci: fix packages for cyg auto
  .github/workflows/cyg-auto.yml
Labels: ci

ci(riscv64): remove git clone
  .github/workflows/riscv64-lin.yml
Labels: ci

ci(s390x): run for pull request
  .github/workflows/s390x.yml
Labels: ci

ci: fix dependency
  .github/workflows/cwin-auto.yml
  .github/workflows/mac-spack-h5py.yml
  WATCHME.md
Labels: repo, ci

deploy: fb9372cc745f970de0d652da948ce33cd24205ba
  develop/_h5_f__u_g.html
  develop/_h5_f_dhdfs_8h.html
  develop/_h5_m__u_g.html
  develop/_intro_par_h_d_f5.html
  develop/group___f_a_p_l.html
  develop/group___f_h5_p.html
  develop/group___h5_f.html
  develop/group___h5_p.html
  develop/group___h5_v_l.html
  develop/search/all_15.js
  develop/search/all_b.js
  develop/search/all_e.js
  develop/search/variables_14.js
  develop/search/variables_a.js
  develop/search/variables_d.js
  develop/struct_h5_f_d__hdfs__fapl__t.html
  develop/todo.html
Labels: none

ci(s390x): run for PR
  .github/workflows/mac14.yml
  .github/workflows/s390x.yml
Labels: ci

ci: add julia actions
  .github/workflows/lin-auto-jl.yml
  .github/workflows/lin-jl.yml
  WATCHME.md
Labels: repo, ci

ci: run on pr
  .github/workflows/lin-auto-jl.yml
  .github/workflows/lin-jl.yml
Labels: ci

ci: use nvhpc 24.1
  .github/workflows/lin-nvhpc-f-p.yml
  WATCHME.md
Labels: repo, ci

ci: fix yml
  .github/workflows/autotools.yml
  .github/workflows/cmake.yml
Labels: ci

ci: use 24.1 for nvhpc
  .github/workflows/lin-auto-aocc-ompi.yml
  .github/workflows/lin-nvhpc.yml
  WATCHME.md
Labels: repo, ci

ci: fix typo in off
  .github/workflows/ios.yml
  .github/workflows/mac13-off.yml
  WATCHME.md
Labels: repo, ci

ci: fix test failures
  .github/workflows/autotools.yml
  .github/workflows/cmake.yml
  .github/workflows/scorecard.yml
  src/H5FDros3.c
  test/dt_arith.c
  test/filter_plugin.c
  test/ros3.c
  test/s3comms.c
  test/th5_system.c
Labels: test, fix, ci

ci: clean up action name
  .github/workflows/lin-auto-ompi-ts-dr-mr-s3-sf.yml
  WATCHME.md
Labels: repo, ci

ci: fix yml
  .github/workflows/lin-auto-ompi-ts-dr-mr-s3-sf.yml
Labels: ci

chore: capitalize option message
  CMakeLists.txt
Labels: repo

ci: add ppc64le
  .github/workflows/mac14-h-j-p.yml
  .github/workflows/ppc64le-lin.yml
  .github/workflows/riscv64-lin.yml
  .github/workflows/s390x-lin.yml
  WATCHME.md
Labels: repo, ci

ci: oneapi 2024.0
  .github/workflows/arm64-lin.yml
  .github/workflows/win-ninja-icx-f-p-sf.yml
  .github/workflows/win-ninja-icx.yml
  HDF5Examples/FORTRAN/H5T/CMakeLists.txt
  WATCHME.md
Labels: repo, ci

ci(win): fix oneapi path
  .github/workflows/win-ninja-icx.yml
Labels: ci

chore: remove is at the end
  .github/workflows/win-ninja-icx-p.yml
  release_docs/INSTALL_CMake.txt
Labels: ci

ci(win): oneapi 2024.0
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci(nvhpc): use 24.3
  .github/workflows/lin-auto-nvhpc-f-sh-p-sf.yml
  .github/workflows/lin-auto-nvhpc-f-sh-p.yml
  .github/workflows/lin-nvhpc-f-p-sf.yml
  .github/workflows/lin-nvhpc-f-p.yml
  .github/workflows/lin-nvhpc.yml
  .github/workflows/nvhpc-auto.yml
  .github/workflows/nvhpc-cmake.yml
  WATCHME.md
Labels: repo, ci

deploy: 7749911dc2f4f2b9cd2933a54b4f1956c4262661
  develop/group___h5_o.html
Labels: none

ci(gcc_min): add cross-compilation action for mingw64
  .github/workflows/lin-gcc_arm64
  .github/workflows/lin-gcc_arm64-cpp.yml
  .github/workflows/lin-gcc_min.yml
  WATCHME.md
Labels: repo, ci

ci(gcc_arm64): fix filename
  .github/workflows/lin-gcc_arm64.yml
Labels: ci

ci(mac): clean actions
  .github/workflows/mac-auto-mpich.yml
  .github/workflows/mac-auto-ompi.yml
  .github/workflows/mac-ninja-clang-h-f-j-mpich.yml
  .github/workflows/mac-ninja-clang-j-ompi-ts.yml
  .github/workflows/mac-ninja-clang-j-ompi.yml
  .github/workflows/mac13-ninja-clang15-d-h-f-mpich-sf.yml
  .github/workflows/mac13-ninja-clang17-fl-d-f-mpich-sf.yml
  .github/workflows/mac13-sh-s3.yml
  .github/workflows/mac13-xcode-clang15-d-mpich-s3-sf.yml
  .github/workflows/mac14-ninja-h-j-ompi-cd.yml
  WATCHME.md
Labels: repo, ci

ci(win): fix icx path
  .github/workflows/win-ninja-icx.yml
Labels: ci

chore: remove HDF from output message
  m4/aclocal_fc.m4
Labels: none

ci: use 12.3 for cuda
  .github/workflows/lin-nvhpc-f-p-sf.yml
  .github/workflows/lin-nvhpc-f-p.yml
  .github/workflows/lin-nvhpc.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

docs: add openssf badge
  WATCHME.md
Labels: repo

ci: ninja nvhpc
  .github/workflows/lin-ninja-nvhpc-f-p.yml
  .github/workflows/lin-nvhpc.yml
  WATCHME.md
Labels: repo, ci

ci: adjust cc and fc
  .github/workflows/lin-nvhpc-f-p-sf.yml
  .github/workflows/lin-nvhpc-f-p.yml
Labels: ci

ci(obsd): use 7.4 and arm
  .github/workflows/arm64-auto.yml
  .github/workflows/arm64-lin.yml
  .github/workflows/arm64.yml
  .github/workflows/armv7-lin.yml
  .github/workflows/auto.yml
  .github/workflows/r.yml
  WATCHME.md
Labels: repo, ci

deploy: ee57da21618d0e414fcd140c7d0a8cdc1dc0030f
  develop/_h5_f_dmirror_8h.html
  develop/search/all_12.js
  develop/search/variables_11.js
  develop/struct_h5_f_d__mirror__fapl__t.html
Labels: none

chore: capitalize linux
  release_docs/RELEASE.txt
Labels: none

ci: add fortran for s390x
  .github/workflows/s390x-lin-f.yml
  WATCHME.md
Labels: repo, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
