Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

fix: add missing file
  src/H5FDdrvr_module.h
Labels: fix

ci(i386,alp): install libaec
  .github/workflows/i386-alp.yml
Labels: ci

ci(alp): chsh
  .github/workflows/i386-alp.yml
Labels: ci

ci(i386,alp): cronify
  .github/workflows/i386-alp.yml
Labels: ci

ci(h5py): update version
  .github/workflows/h5py.yml
Labels: ci

build(cmake): remove Perl
  CMakeLists.txt
Labels: repo

build: set cxx standard to 11
  .github/workflows/dispatch.yml
  HDF5Examples/config/cmake/HDFExampleMacros.cmake
  config/cmake/HDFCompilerCXXFlags.cmake
Labels: ci

ci(dispatch): fix
  .github/workflows/dispatch.yml
Labels: ci

chore: add fuzz badge
  README.md
Labels: repo

build(fortran): remove cmake warning
  fortran/src/CMakeLists.txt
Labels: none

build(fortran): remove cmake warning
  CMakeLists.txt
  fortran/test/CMakeLists.txt
  hl/fortran/src/CMakeLists.txt
Labels: repo

chore: fix typo masquarading
  bin/h5cc.in
  c++/src/h5c++.in
Labels: none

fix: apply obsd patch
  m4/aclocal_fc.f90
Labels: none

chore: fix typo
  test/farray.c
Labels: test

fix: table_11 throws an error on i386 CI
  HDF5Examples/C/HL/tfiles/h5ex_table_11.ddl
Labels: none

ci: check links
  .github/workflows/main-cmake.yml
Labels: ci

ci: check links
  .github/workflows/cmake.yml
Labels: ci

chore: fix broken link for snapshot 2.0.0 tag
  release_docs/RELEASE_PROCESS.md
Labels: none

ci(markdown): run on push
  .github/workflows/markdown-link-check.yml
  WATCHME.md
Labels: repo, ci

docs: fix a broken link to compression pdf
  doc/parallel-compression.md
Labels: none

docs: fix a broken link to chunking in hdf5
  doc/parallel-compression.md
Labels: none

ci(h5py): fix numpy failure
  .github/workflows/h5py.yml
Labels: ci

chore: fix typo KitWare
  release_docs/USING_CMake_Examples.txt
Labels: none

chore: fix KitWare typos
  HDF5Examples/Using_CMake.txt
  release_docs/INSTALL_CMake.txt
  release_docs/USING_HDF5_CMake.txt
Labels: none

ci(win): enable S3 driver
  .github/workflows/main-cmake.yml
Labels: ci

ci: fix yml
  .github/workflows/main-cmake.yml
Labels: ci

ci(win): use env for vcpkg
  .github/workflows/main-cmake.yml
Labels: ci

ci(win): use export
  .github/workflows/main-cmake.yml
Labels: ci

ci(aocc): sync failed test
  testpar/t_file.c
Labels: none

ci(arm64,win25): add
  .github/workflows/arm64-lin.yml
  .github/workflows/win25-vcpkg.yml
  WATCHME.md
Labels: repo, ci

ci(i386,alp,p): add
  .github/workflows/i386-alp-sz-p.yml
Labels: ci

ci(i386,alp,p): add
  WATCHME.md
Labels: repo

ci(alp,p): fix branch
  .github/workflows/arm64-lin.yml
  .github/workflows/i386-alp-f.yml
  .github/workflows/i386-alp-sz-p.yml
  .github/workflows/i386-alp.yml
  .github/workflows/win25-vcpkg.yml
Labels: ci

ci(markdown): skip gnu.org
  .markdown-link-check.json
Labels: repo

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
