Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

Committing clang-format changes
  tools/lib/h5tools.c
Labels: none

ci: fix paths
  .github/workflows/linux-icx-auto.yml
Labels: ci

fix(h5dump): segmentation fault when --vfd-value is used
  tools/src/h5dump/h5dump.c
Labels: none

ci: use latest for win icx mpi path
  .github/workflows/win-ninja-icx-f-p-sf.yml
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

fix(h5dump): support subfiling
  tools/lib/h5tools.c
  tools/src/h5dump/h5dump.c
Labels: none

fix: compiler warnings and errors
  WATCHME.md
  tools/src/h5dump/h5dump.c
Labels: repo

Committing clang-format changes
  tools/lib/h5tools.c
  tools/src/h5dump/h5dump.c
Labels: none

fix: compiler error
  tools/src/h5dump/h5dump.c
  tools/test/h5dump/CMakeTests.cmake
Labels: none

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

fix: compile error
  WATCHME.md
  tools/src/h5dump/h5dump.c
Labels: repo

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

fix: add static
  tools/src/h5dump/h5dump.c
Labels: none

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

test(h5dump): subfiling stub file
  tools/src/h5dump/h5dump.c
  tools/test/h5dump/CMakeVFDTests.cmake
  tools/test/h5dump/testfiles/test_subfiling_stripe_sizes.h5
  tools/test/h5dump/testfiles/test_subfiling_stripe_sizes.h5.subfile.config
  tools/test/h5dump/testfiles/test_subfiling_stripe_sizes.h5.subfile_1_of_1
Labels: none

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

test: suppress debug message
  .github/workflows/riscv64-lin.yml
  tools/test/h5dump/CMakeVFDTests.cmake
Labels: ci

docs: add subfiling for file deriver
  tools/src/h5dump/h5dump.c
Labels: none

docs: update expected output for #125
  tools/test/h5dump/expected/h5dump-help.txt
Labels: none

test: update expected outputs for #125
  tools/test/h5dump/expected/pbits/tnofilename-with-packed-bits.ddl
  tools/test/h5dump/expected/pbits/tpbitsIncomplete.ddl
  tools/test/h5dump/expected/pbits/tpbitsLengthExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsLengthPositive.ddl
  tools/test/h5dump/expected/pbits/tpbitsMaxExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsOffsetExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsOffsetNegative.ddl
Labels: none

docs: update release note
  release_docs/RELEASE.txt
Labels: none

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

ci: change mpiicc to mpiicx
  .github/workflows/lin-auto-icx.yml
  WATCHME.md
Labels: repo, ci

ci: remove cxx
  HDF5Examples/CMakeLists.txt
Labels: none

ci: specify C
  HDF5Examples/C/CMakeLists.txt
Labels: none

ci: add C for project
  HDF5Examples/C/H5D/CMakeLists.txt
  HDF5Examples/C/H5FLT/CMakeLists.txt
  HDF5Examples/C/H5G/CMakeLists.txt
  HDF5Examples/C/H5PAR/CMakeLists.txt
  HDF5Examples/C/H5T/CMakeLists.txt
  HDF5Examples/C/Perf/CMakeLists.txt
Labels: none

fix: remove set_mpi()
  config/cmake/vfdTest.cmake
  tools/lib/h5tools.c
  tools/src/h5dump/h5dump.c
Labels: none

Committing clang-format changes
  tools/lib/h5tools.c
  tools/src/h5dump/h5dump.c
Labels: none

fix: put back ifdef subfiling
  tools/lib/h5tools.c
Labels: none

Committing clang-format changes
  tools/lib/h5tools.c
Labels: none

ci: add link checker action
  .github/workflows/markdown-link-check.yml
Labels: ci

docs: use url for h5dump vfd list
  tools/src/h5dump/h5dump.c
  tools/test/h5dump/expected/h5dump-help.txt
Labels: none

Committing clang-format changes
  tools/src/h5dump/h5dump.c
Labels: none

docs: add manual for fd module
  doxygen/dox/ReferenceManual.dox
  src/H5FDmodule.h
Labels: fix

deploy: 351ec26cc2132af84b9bd435ae1f7eea0b53678b
  develop/_r_m.html
Labels: none

fix: use else
  tools/lib/h5tools.c
  tools/lib/h5tools.h
Labels: none

test: update h5dump help outputs
  tools/test/h5dump/expected/pbits/tnofilename-with-packed-bits.ddl
  tools/test/h5dump/expected/pbits/tpbitsIncomplete.ddl
  tools/test/h5dump/expected/pbits/tpbitsLengthExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsLengthPositive.ddl
  tools/test/h5dump/expected/pbits/tpbitsMaxExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsOffsetExceeded.ddl
  tools/test/h5dump/expected/pbits/tpbitsOffsetNegative.ddl
Labels: none

docs: move glossary to the end
  doxygen/hdf5doxy_layout.xml
Labels: none

ci: remove git clone from docs Action
  .github/workflows/docs.yml
Labels: ci

test: add 2 subfiles case
  tools/test/h5dump/testfiles/test_subfiling_precreate_rank_0.h5
  tools/test/h5dump/testfiles/test_subfiling_precreate_rank_0.h5.subfile.config
Labels: none

test: add ctest for 2 subfiles
  tools/test/h5dump/CMakeVFDTests.cmake
  tools/test/h5dump/testfiles/test_subfiling_precreate_rank_0.h5.subfile.config
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
