Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

ci: add gcc_arm64 cpp
  .github/workflows/linux-gcc_arm64-cpp.yml
  .github/workflows/linux-gcc_arm64.yml
  WATCHME.md
Labels: repo, ci

ci: test generic bash
  .github/workflows/mac-clang15-cmake-r.yml
  WATCHME.md
Labels: repo, ci

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

chore: close #104
  testpar/t_subfiling_vfd.c
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

ci: close #105
  .github/workflows/nvhpc-auto.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

ci: clean up action yml files
  .github/workflows/linux-gcc_arm64-cpp.yml
  .github/workflows/linux-gcc_arm64.yml
  .github/workflows/mac13-clang15-r-f-mpich-sf.yml
  WATCHME.md
Labels: repo, ci

ci: sync with upstream
  .github/workflows/clang-format-fix.yml
  .github/workflows/linux-auto-aocc-ompi.yml
  .github/workflows/main.yml
  CMakeFilters.cmake
  config/clang-flags
  config/intel-warnings/classic/15
  release_docs/RELEASE.txt
Labels: repo, ci

test: close #107
  tools/test/h5dump/CMakeTests.cmake
Labels: none

chore: use skip for t_zlib
  testpar/t_subfiling_vfd.c
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

test: read file with more than one rank
  testpar/t_subfiling_vfd.c
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

fix: close #108
  src/H5R.c
Labels: fix

Committing clang-format changes
  src/H5R.c
Labels: fix

ci: use gfortran 13
  .github/workflows/spack.yml
Labels: ci

ci: use gfortran 13
  .github/workflows/h5py.yml
Labels: ci

fix: close #109
  .github/workflows/win-ninja-icx-f.yml
  src/H5system.c
  testpar/CMakeLists.txt
  testpar/cmp.c
Labels: fix, ci

Committing clang-format changes
  testpar/cmp.c
Labels: none

ci: use gfortran 13
  .github/workflows/lin-spack-f-ompi.yml
  .github/workflows/lin-spack-h5py.yml
  .github/workflows/mac-spack-h5py.yml
  WATCHME.md
Labels: repo, ci

ci: ping vol-tests
  .github/workflows/dispatch.yml
  .github/workflows/lin-spack-f-ompi.yml
  testpar/cmp.c
Labels: ci

ci: add space
  .github/workflows/dispatch.yml
Labels: ci

test: adjust malloc size
  testpar/cmp.c
Labels: none

Committing clang-format changes
  testpar/cmp.c
Labels: none

fix(warning): test/accum.c for win oneapi
  test/accum.c
Labels: test

test(cmp): add mpi
  .github/workflows/win-ninja-icx-f-sh.yml
  testpar/CMakeTests.cmake
  testpar/cmp.c
Labels: ci

Committing clang-format changes
  testpar/cmp.c
Labels: none

ci: add ios
  .github/workflows/ios.yml
Labels: ci

ci(ios): remove armv7 and update target version to 16.4.99
  .github/workflows/ios.yml
Labels: ci

ci: sync upstream
  WATCHME.md
Labels: repo

ci: standardize names and options
  .github/workflows/auto.yml
  .github/workflows/d.yml
  .github/workflows/r.yml
  .github/workflows/riscv64-lin.yml
  WATCHME.md
Labels: repo, ci

uncomment tfloatsattrs test
  tools/test/h5dump/CMakeTests.cmake
Labels: none

ci: add msys2 action
  .github/workflows/msys2.yml
  WATCHME.md
Labels: repo, ci

build(cmake): add bundle destination
  .github/workflows/ios.yml
  tools/src/h5diff/CMakeLists.txt
Labels: ci

ci: disable ifort
  .github/workflows/lin-icc-sf.yml
  .github/workflows/lin-icc.yml
  .github/workflows/msys2.yml
Labels: ci

build(cmake): add bundle destination
  tools/src/h5copy/CMakeLists.txt
  tools/src/h5dump/CMakeLists.txt
  tools/src/h5format_convert/CMakeLists.txt
  tools/src/h5import/CMakeLists.txt
  tools/src/h5jam/CMakeLists.txt
  tools/src/h5ls/CMakeLists.txt
  tools/src/h5perf/CMakeLists.txt
  tools/src/h5repack/CMakeLists.txt
  tools/src/h5stat/CMakeLists.txt
  tools/src/misc/CMakeLists.txt
Labels: none

build(cmake): add product bundle id for #118
  tools/src/h5repack/CMakeLists.txt
Labels: none

test: add h5dump subfiling test
  tools/test/h5dump/CMakeVFDTests.cmake
Labels: none

docs: complete the sentence
  tools/src/h5dump/h5dump.c
Labels: none

fix(h5tools): report error for subfiling vfd if mpi is unavailable
  tools/lib/h5tools.c
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
