Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

fix(netbsd): apply qxk patches
  src/H5TSprivate.h
  src/H5TSsemaphore.c
  src/H5TSsemaphore.h
Labels: fix

fix(netbsd): add parenthesis
  src/H5TSprivate.h
  src/H5TSsemaphore.c
  src/H5TSsemaphore.h
Labels: fix

test(cygwin): skip unseekable test
  test/tfile.c
Labels: test

Committing clang-format changes
  test/tfile.c
Labels: test

ci(cygwin): test #253
  .github/workflows/cyg-ninja.yml
  .github/workflows/lin-auto-nvhpc-wa-we.yml
Labels: ci

deploy: 966acabd9a67ab385834a100c57006097674a9b5
  develop/_a_r__u_g.html
  develop/_about.html
  develop/_accessibility.html
  develop/_files.html
  develop/_h5__u_g.html
  develop/_h5_mpublic_8h.html
  develop/_h5_t_o_o_l__d_p__u_g.html
  develop/_h5_v_l__u_g.html
  develop/_h_d_f5_examples.html
  develop/_l_b_com_dset.html
  develop/_l_b_compiling.html
  develop/_l_b_dset_layout.html
  develop/_l_b_ext_dset.html
  develop/_l_b_training.html
  develop/_learn_h_d_f_view.html
  develop/_r_f_c.html
  develop/_s_p_e_c.html
  develop/_v_o_l__connector.html
  develop/group___d_c_p_l.html
  develop/group___f_a_p_l.html
  develop/group___h5_d_o.html
  develop/group___h5_d_s.html
  develop/group___h5_f.html
  develop/group___h5_l_t.html
  develop/group___h5_m.html
  develop/group___h5_s.html
  develop/group___m_d_c.html
  develop/group___o_c_p_l.html
  develop/group___o_c_p_y_p_l.html
  develop/group___p_h5_f.html
  develop/md__h_d_f5_examples__r_e_a_d_m_e.html
  develop/md__r_e_a_d_m_e.html
  develop/md_build__r_e_a_d_m_e.html
  develop/md_doc_parallel_compression.html
  develop/md_release_docs__r_e_l_e_a_s_e__p_r_o_c_e_s_s.html
Labels: none

docs: replace cdashhelp with help
  config/cmake/examples/CTestScript.cmake
  config/cmake/examples/HDF5_Examples.cmake.in
  config/cmake/scripts/CTestScript.cmake
Labels: none

ci(hdfeos5): download without urs
  .github/workflows/hdfeos5.yml
Labels: ci

ci(arm64): use obsd 7.5
  .github/workflows/arm64-auto.yml
Labels: ci

chore(win,oneAPI): remove llu warning
  tools/src/h5repack/h5repack.c
Labels: none

build(win,oneAPI): remove unused function warning
  testpar/t_mpi.c
Labels: none

chore: improve grammar and style of comment block in bin/genparser
  bin/genparser
Labels: none

chore: remove newline-of warning
  test/ttsafe_error_stacks.c
Labels: test

chore: format fortran code
  fortran/test/tf.F90
Labels: none

ci(cygwin,f): test
  .github/workflows/cyg-ninja-f.yml
  .github/workflows/s390x-lin-f.yml
Labels: ci

docs: enable latex
  .github/workflows/cyg-ninja-f.yml
  .github/workflows/docs.yml
  .github/workflows/s390x-lin-f.yml
  doxygen/Doxyfile.in
Labels: ci

docs: install more fonts
  .github/workflows/arm64-auto.yml
  .github/workflows/cyg-ninja-f.yml
  .github/workflows/docs.yml
  .github/workflows/s390x-lin-f.yml
Labels: ci

docs: miktex
  .github/workflows/docs-miktex.yml
Labels: ci

docs(miktex): finish setup
  .github/workflows/docs-miktex.yml
  .github/workflows/docs.yml
Labels: ci

docs: rm utf-8
  .github/workflows/docs.yml
  doxygen/dox/Glossary.dox
Labels: ci

ci(i386,alp): test fortran
  .github/workflows/cyg-ninja-f.yml
  .github/workflows/i386-alp-e-auto-f.yml
  .github/workflows/s390x-lin-f.yml
  .github/workflows/scorecard.yml
Labels: ci

ci(i386,alp): autogen
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

ci(i386,alp): add perl
  .github/workflows/docs.yml
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

ci(i386,alp): add autoconf
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

ci(i386,alp-e): package automake
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

ci(i386,alp-e): package libtool
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

Committing clang-format changes
  src/H5R.c
Labels: fix

ci(ompi): test 5.0.0
  .github/workflows/lin-aocc-ompi.yml
Labels: ci

ci(ompi): test 5.0.0
  .github/workflows/aocc-cmake.yml
  .github/workflows/docs-miktex.yml
  .github/workflows/docs.yml
  .github/workflows/i386-alp-e-auto-f.yml
Labels: ci

fix(H5R): sync upstream
  src/H5R.c
Labels: fix

Committing clang-format changes
  src/H5R.c
Labels: fix

ci(obsd): enable testing
  .github/workflows/arm64.yml
  .github/workflows/lin-aocc-ompi-sf.yml
  .github/workflows/r.yml
  WATCHME.md
Labels: repo, ci

ci(sol): add
  .github/workflows/arm64.yml
  .github/workflows/sol.yml
  WATCHME.md
Labels: repo, ci

chore(WATCHME): fix formatting
  WATCHME.md
Labels: repo

ci(aocc): use openmpi-5.0.5
  .github/workflows/aocc-auto.yml
  .github/workflows/aocc-cmake.yml
Labels: ci

ci(aocc,cmake): fix openmpi-5.0.5 download URL
  .github/workflows/aocc-cmake.yml
  .github/workflows/arm64.yml
Labels: ci

ci(aocc,cmake): fix openmpi-5.0.5 download URL
  .github/workflows/aocc-cmake.yml
Labels: ci

ci(nvhpc): use 24.9
  .github/workflows/nvhpc-auto.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

ci(i386,alp): add
  .github/workflows/i386-alp.yml
  H5FDdrvr_module.h
Labels: repo, ci

ci(i386,alp): add
  .github/workflows/i386-alp.yml
Labels: ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
