Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

Committing clang-format changes
  src/H5FDs3comms.c
  src/H5FDsubfiling/H5FDioc.c
Labels: fix

ci: sync with upstream
  src/H5FDros3.c
  src/H5FDs3comms.c
Labels: fix

docs: close #66
  src/H5overflow.txt
Labels: fix

docs: close #67
  doxygen/examples/Filters.html
Labels: none

fix: close #68
  testpar/t_init_term.c
Labels: none

Committing clang-format changes
  testpar/t_init_term.c
Labels: none

fix: use macro for #68
  testpar/t_init_term.c
Labels: none

Committing clang-format changes
  testpar/t_init_term.c
Labels: none

ci: update LD_LIBRARY_PATH for icx
  .github/workflows/linux-icx-auto-debug.yml
Labels: ci

ci: test subfiling with icc/x
  .github/workflows/linux-icc-sf.yml
  .github/workflows/linux-icx-auto-sf-debug.yml
  .github/workflows/linux-icx-sf.yml
Labels: ci

docs: close #69
  testpar/t_pread.c
Labels: none

ci: install mpi for icc-sf
  .github/workflows/linux-icc-sf.yml
Labels: ci

fix: close #71
  fortran/src/H5Aff.F90
Labels: none

fix: close #70
  test/testframe.c
Labels: test

ci: add icc/x sub-filing badges
  WATCHME.md
Labels: repo

ci: close #73
  .github/workflows/linux-nvhpc-auto-fs.yml
  .github/workflows/linux-nvhpc-sf.yml
  WATCHME.md
Labels: repo, ci

ci: update action name for #73
  .github/workflows/linux-nvhpc-auto-fs.yml
  .github/workflows/linux-nvhpc-sf.yml
Labels: ci

ci: fix badge link for #73
  WATCHME.md
Labels: repo

ci: rename yml (#73)
  .github/workflows/linux-nvhpc-auto-sf.yml
Labels: ci

ci: fix link to yml (#73)
  WATCHME.md
Labels: repo

fix: close #74
  bin/make_err
  bin/make_overflow
  bin/make_vers
Labels: none

ci: adjust library path for Fortran
  .github/workflows/linux-icx-sf.yml
Labels: ci

fix: close #75
  testpar/t_subfiling_vfd.c
Labels: none

ci: use macos-13 for flang
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: test clang15
  .github/workflows/mac-cmake-clang15.yml
Labels: ci

docs: close #76
  utils/tools/h5dwalk/h5dwalk.1
Labels: none

ci: test Xcode with clang15
  .github/workflows/mac-clang15-xcode.yml
  .github/workflows/mac-cmake-clang15.yml
Labels: ci

ci: fix yml syntax
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

fix: close #77
  testpar/t_subfiling_vfd.c
Labels: none

ci: install llvm@17
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: fix yml
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

deploy: 07a46ea1830451e685336e178a6d44b348ced3e0
  develop/_h5_s__u_g.html
  develop/_intro_par_h_d_f5.html
  develop/_l_b_dset_create.html
  develop/_l_b_file_create.html
Labels: none

deploy: 09a5b29ff48b362e5429afefec2785bf8a23e646
  develop/_h5_f_dmpio_8h.html
  develop/group___d_x_p_l.html
Labels: none

docs: close #78
  src/H5Cmpio.c
Labels: fix

fix: close #79
  examples/h5_interm_group.c
Labels: none

ci: disable zip
  .github/workflows/mac-cmake-clang15.yml
  .github/workflows/mac-cmake-flang-mpich.yml
  .github/workflows/openbsd.yml
Labels: ci

ci: disable parallel tools for mac-13 clang-15
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

ci: add ninja
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: sync with upstream
  tools/lib/h5tools_utils.c
Labels: none

ci: enable sf
  .github/workflows/mac-clang15-cmake.yml
  .github/workflows/mac-clang15-xcode.yml
  .github/workflows/openbsd.yml
Labels: ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
