Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']

docs: lowercase Specifies in File Format Specification
  doxygen/examples/H5.format.html
Labels: none

deploy: f2d283ff03944f5d005bf9be14b9f60246fea54c
  develop/_f_m_t3.html
Labels: none

ci: disable pr action
  .github/workflows/autotools.yml
  .github/workflows/cmake.yml
Labels: ci

docs(VOL): fix broken links
  doxygen/examples/tables/volAPIs.dox
Labels: none

deploy: 696eefe98ab39ba845d255f8ca079b472c66cb5c
  develop/_h5_v_l__u_g.html
Labels: none

docs(VOL): fix grammar in Map Storage to HDF5 File Objects
  doxygen/dox/VOLConnGuide.dox
Labels: none

deploy: 27157dfa0be15533798a22d72f1e741cf6dd9d3f
  develop/_v_o_l__connector.html
Labels: none

deploy: 743dc579923e9d024825d6ddc1865631203ce2ca
  develop/group___h5_a.html
  develop/group___h5_o.html
  develop/group___h5_s.html
  develop/group___p_l_c_r.html
Labels: none

deploy: a81946c7376345ec6afa829028f6d1b16ba4ba72
  develop/_intro_par_h_d_f5.html
  develop/_v_o_l__connector.html
  develop/md_build__r_e_a_d_m_e.html
  develop/pimplayer.gif
Labels: none

docs: remove extra margin after hyperlink
  doxygen/dox/Overview.dox
Labels: none

deploy: 50bda3880caf08f285b7c8f2360f6351881b99f5
  develop/index.html
Labels: none

ci(nvhpc): add -O1
  .github/workflows/lin-nvhpc.yml
Labels: ci

ci(nvhpc): turn off zlib
  .github/workflows/lin-nvhpc.yml
Labels: ci

deploy: 18a14458d789e10264f6fde3e47813c05d376e77
  develop/_h5_p_l__u_g.html
Labels: none

ci(nvhpc): turn off z_lib
  .github/workflows/lin-nvhpc.yml
Labels: ci

docs: match USAGE documentation to function name for H5Peconde2
  src/H5P.c
Labels: fix

ci: activate dispatch
  .github/workflows/dispatch.yml
Labels: ci

deploy: 174728f8f2d1ffc0af93259a1d94ca192adae725
  develop/md__c_o_d_e__o_f__c_o_n_d_u_c_t.html
Labels: none

deploy: 438a0307d35b2ea168bfe5137dd76fd6676f8b27
  develop/_h5_f_ddevelop_8h.html
  develop/search/all_8.js
  develop/search/functions_7.js
Labels: none

ci(nvhpc): use 24.5
  .github/workflows/nvhpc-auto.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

ci(nvhpc): use 24.5
  .github/workflows/lin-nvhpc.yml
Labels: ci

docs: remove ???? from README in MSI file
  config/cmake/HDFMacros.cmake
Labels: none

deploy: 663a45b7571257179e07c31610eb7258ec185516
  develop/_h5_t__u_g.html
Labels: none

fix(cygwin): add windows.h for h5ls
  tools/src/h5ls/h5ls.c
Labels: none

ci(nvhpc): test 24.7
  .github/workflows/cyg-auto.yml
  .github/workflows/lin-nvhpc.yml
Labels: ci

ci: test mac13 off
  .github/workflows/cmake-ctest.yml
  .github/workflows/cyg-auto.yml
  .github/workflows/lin-nvhpc.yml
  .github/workflows/mac13-off.yml
Labels: ci

ci: use test-dir
  .github/workflows/cmake.yml
  .github/workflows/mac13-off.yml
Labels: ci

ci: test ndk 27
  .github/workflows/lin-ndk.yml
Labels: ci

build: set both arm64 and x86_64 for mac
  CMakeLists.txt
  hl/c++/src/H5PacketTable.cpp
Labels: repo

ci(mac): add arch name to dmg file name
  .github/workflows/cmake-ctest.yml
Labels: ci

ci: sync upstream
  .github/workflows/cmake-ctest.yml
Labels: ci

ci: update dmg release file name
  .github/workflows/release-files.yml
Labels: ci

ci: revert gh-pages action hash to fix daily build
  .github/workflows/release-files.yml
Labels: ci

ci(mac): notarize dmg file
  .github/workflows/cmake-ctest.yml
Labels: ci

ci(mac): use gfortran 14
  .github/workflows/cmake-ctest.yml
Labels: ci

ci: update nvhpc version to 24.7
  .github/workflows/nvhpc-auto.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

fix: enum type mismatch warning
  src/H5VLpassthru.c
Labels: fix

fix: change ES to VL
  src/H5VLpassthru.c
Labels: fix

fix(win,oneAPI): remove macro redefined warnings
  tools/src/h5perf/pio_engine.c
  tools/src/h5perf/sio_engine.c
Labels: none

build(cmake): check if DECIMAL_DIG is defined
  config/cmake/ConfigureChecks.cmake
Labels: none
