Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

ci(hdfeos5): change download location
  .github/workflows/hdfeos5.yml
Labels: ci

ci(hdfeos5): use secret and 3.0
  .github/workflows/hdfeos5.yml
Labels: ci

ci(hdfeos5): remove -o option
  .github/workflows/hdfeos5.yml
  .github/workflows/lin-ndk.yml
  .github/workflows/mac13-off.yml
Labels: ci

ci: use -o
  .github/workflows/dispatch.yml
  .github/workflows/docs.yml
  .github/workflows/hdfeos5.yml
Labels: ci

deploy: 45601c2642da5cd2e4ee522be7901c9a730bc6ee
  develop/_h5_f__u_g.html
  develop/_h5_fpublic_8h.html
  develop/_h5_g__u_g.html
  develop/_v_o_l__connector.html
  develop/group___f_h5_f.html
  develop/group___h5_a.html
  develop/group___h5_e.html
  develop/group___h5_f.html
  develop/group___h5_g.html
  develop/group___h5_l.html
  develop/group___t_r_a_v.html
  develop/maybe_metadata_reads.html
  develop/md__r_e_a_d_m_e.html
  develop/search/all_8.js
  develop/search/functions_7.js
Labels: none

docs: fix typo in H5Centry.c
  src/H5Centry.c
Labels: fix

ci(nvhpc): pic
  .github/workflows/hdfeos5.yml
  .github/workflows/lin-auto-nvhpc-f-sh-p-sf.yml
Labels: ci

ci(nvhpc): c only
  .github/workflows/lin-auto-nvhpc.yml
Labels: ci

chore: capitalize f in
  src/H5public.h
Labels: fix

deploy: 0206e85505e604f5ad9402986ae3069617780917
  develop/group___h5.html
Labels: none

fix:limit realloc() size
  src/H5Centry.c
Labels: fix

Committing clang-format changes
  src/H5Centry.c
Labels: fix

docs: remove dummy comments
  test/vol.c
Labels: test

deploy: 094b28e4788feb293928a6d3d464b3d88794d151
  develop/group___h5_o.html
Labels: none

ci(nvhpc): test O3
  .github/workflows/lin-nvhpc.yml
Labels: ci

fix: limit malloc() size
  .github/workflows/lin-nvhpc-o1.yml
  src/H5Centry.c
Labels: fix, ci

Committing clang-format changes
  src/H5Centry.c
Labels: fix

chore: fix grammar in H5Odtype.c comment block
  src/H5Odtype.c
Labels: fix

ci(nvhpc): o1
  .github/workflows/lin-nvhpc-o0.yml
  .github/workflows/lin-nvhpc-o1.yml
Labels: ci

ci(nvhpc): rm sanitize addr
  .github/workflows/lin-nvhpc-o0.yml
Labels: ci

ci(fuzz): add oss-fuzz
  .github/workflows/fuzz.yml
Labels: ci

ci(fuzz): test mine
  .github/workflows/fuzz_hk.yml
Labels: ci

ci(fuzz): use matrix
  .github/workflows/fuzz.yml
  .github/workflows/fuzz_hk.yml
Labels: ci

ci(fuzz): fix yml
  .github/workflows/fuzz.yml
  .github/workflows/fuzz_hk.yml
  .github/workflows/lin-auto-nvhpc.yml
  .github/workflows/lin-nvhpc-o0.yml
Labels: ci

ci(fuzz): add projects
  .github/workflows/fuzz.yml
  .github/workflows/fuzz_hk.yml
Labels: ci

ci(fuzz): adjust path
  .github/workflows/fuzz.yml
  .github/workflows/fuzz_hk.yml
Labels: ci

ci(fuzz): add projects
  projects/hdf5/Dockerfile
  projects/hdf5/build.sh
  projects/hdf5/h5_extended_fuzzer.c
  projects/hdf5/h5_read_fuzzer.c
  projects/hdf5/project.yaml
Labels: none

Committing clang-format changes
  projects/hdf5/h5_extended_fuzzer.c
  projects/hdf5/h5_read_fuzzer.c
Labels: none

docs: fix grammar in H5Fint.c comment block
  src/H5Fint.c
Labels: fix

ci: add fuzz badge
  .github/workflows/fuzz.yml
  WATCHME.md
Labels: repo, ci

deploy: 23fe61433a86a59cb0c0d2433406898b231b2c9c
  develop/md__w_a_t_c_h_m_e.html
Labels: none

ci:(nvhpc): test wa we options
  .github/workflows/lin-nvhpc-wa-we.yml
Labels: ci

docs: make configure help message consistent
  .github/workflows/fuzz_hk.yml
  configure.ac
Labels: repo, ci

ci(nvhpc, auto): disable wa we
  .github/workflows/fuzz.yml
  .github/workflows/lin-auto-nvhpc-wa-we.yml
Labels: ci

ci: fix yml
  .github/workflows/lin-auto-nvhpc-wa-we.yml
Labels: ci

chore: fix grammar in H5Fint.c comment block
  src/H5Fint.c
Labels: fix

build(gcc): fix char-subscripts warnings
  src/H5private.h
Labels: fix

Committing clang-format changes
  src/H5private.h
Labels: fix

chore: fix typo argueably in H5Cprivate.h
  src/H5Cprivate.h
Labels: fix

chore: fix typos in H5Cpkg.h
  src/H5Cpkg.h
Labels: fix

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
