Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

ci: fix #59
  config/cmake-presets/hidden-presets.json
Labels: none

test(parallel): fix #58
  testpar/t_file.c
Labels: none

Committing clang-format changes
  testpar/t_file.c
Labels: none

test(parallel): fix #58
  testpar/t_file.c
Labels: none

Committing clang-format changes
  testpar/t_file.c
Labels: none

ci: update oneapi path
  .github/workflows/linux-icx-auto.yml
  .github/workflows/linux-icx.yml
Labels: ci

Committing clang-format changes
  src/H5FDros3.c
  src/H5FDs3comms.c
  testpar/t_file.c
Labels: fix

chore: add ; at the end
  src/H5FDros3.c
Labels: fix

Committing clang-format changes
  src/H5FDros3.c
Labels: fix

chore: add ;
  src/H5FDs3comms.c
Labels: fix

Committing clang-format changes
  src/H5FDs3comms.c
Labels: fix

chore: fix typo (#60)
  testpar/t_dset.c
Labels: none

fix: add ;
  src/H5FDs3comms.c
Labels: fix

Committing clang-format changes
  src/H5FDs3comms.c
Labels: fix

ci: add path for icx debug action
  .github/workflows/linux-icx-auto-debug.yml
Labels: ci

ci: update intel path
  .github/workflows/linux-icx-auto-debug.yml
Labels: ci

chore: remove gubbins comment
  testpar/API/t_chunk_alloc.c
  testpar/t_chunk_alloc.c
Labels: none

chore: close #63
  src/H5Dio.c
Labels: fix

ci: remove read permission on clang-formatter
  .github/workflows/clang-format-fix.yml
Labels: ci

chore: fix #61
  testpar/t_file.c
Labels: none

Committing clang-format changes
  src/H5Dio.c
Labels: fix

ci: update cross platform action version
  .github/workflows/openbsd.yml
Labels: ci

ci: add nvhpc action
  .github/workflows/linux-nvhpc-auto.yml
Labels: ci

build: add nvhpc badge
  WATCHME.md
Labels: repo

style: fix table
  WATCHME.md
Labels: repo

ci: use full path to nvfortran for make install
  .github/workflows/linux-nvhpc-auto.yml
Labels: ci

ci: use full nvcc path for make install
  .github/workflows/linux-nvhpc-auto.yml
Labels: ci

ci: disable szip for cmake and install libaec for autotools
  .github/workflows/linux-icx-auto.yml
  .github/workflows/linux-icx.yml
Labels: ci

ci: test shm env
  .github/workflows/linux-icx-auto-debug.yml
Labels: ci

ci: fix szip failures
  .github/workflows/linux-icx-auto-debug.yml
  .github/workflows/linux-icx-auto.yml
Labels: ci

ci: disable szip / fortran / parallel
  .github/workflows/linux-aarch64.yml
  .github/workflows/linux-icc.yml
  .github/workflows/linux-icx-auto.yml
  .github/workflows/linux-icx.yml
  .github/workflows/mac-xcode.yml
Labels: ci

ci: disable szip for arm64
  .github/workflows/arm64.yml
Labels: ci

ci: remove c99 in clang-flags
  config/clang-flags
Labels: none

ci: add cmake nvhpc
  .github/workflows/linux-nvhpc.yml
  WATCHME.md
Labels: repo, ci

ci: disable szip or add libaec-dev
  .github/workflows/armv7.yml
  .github/workflows/linux-icc.yml
  .github/workflows/mac-cmake-mpich.yml
  .github/workflows/mac-cmake-ts.yml
  .github/workflows/mac-cmake.yml
  .github/workflows/mac-xcode.yml
Labels: ci

ci(mac): libaec-dev -> libaec
  .github/workflows/mac-cmake-mpich.yml
Labels: ci

ci(nvhpc): avoid sudo for (un)install test
  .github/workflows/linux-nvhpc-auto.yml
Labels: ci

ci: checkout v3->v4
  .github/workflows/arm64.yml
  .github/workflows/armv7.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-format-fix.yml
  .github/workflows/codespell.yml
  .github/workflows/cve.yml
  .github/workflows/docs.yml
  .github/workflows/h5py.yml
  .github/workflows/hdfeos5.yml
  .github/workflows/linux-aarch64.yml
  .github/workflows/linux-auto-ts.yml
  .github/workflows/linux-auto.yml
  .github/workflows/linux-icc.yml
  .github/workflows/linux-icx-auto-debug.yml
  .github/workflows/linux-icx-auto.yml
  .github/workflows/linux-icx.yml
  .github/workflows/linux-nvhpc-auto.yml
  .github/workflows/linux-nvhpc.yml
  .github/workflows/mac-auto-mpich.yml
  .github/workflows/mac-auto.yml
  .github/workflows/mac-cmake-flang-mpich.yml
  .github/workflows/mac-cmake-mpich.yml
  .github/workflows/mac-cmake-offs.yml
  .github/workflows/mac-cmake-ros3.yml
  .github/workflows/mac-cmake-ts.yml
  .github/workflows/mac-cmake.yml
  .github/workflows/mac-xcode.yml
  .github/workflows/main.yml
  .github/workflows/netcdf.yml
  .github/workflows/openbsd.yml
  .github/workflows/release-files.yml
  .github/workflows/release.yml
  .github/workflows/spack-mac.yml
  .github/workflows/spack.yml
  .github/workflows/spack_u_dev.yml
  .github/workflows/tarball.yml
Labels: ci

ci: run nvhpc for pr
  .github/workflows/linux-nvhpc-auto.yml
  .github/workflows/linux-nvhpc.yml
Labels: ci

ci: disable szip
  .github/workflows/linux-icx-auto-debug.yml
  .github/workflows/mac-cmake-mpich.yml
  .github/workflows/mac-cmake-ts.yml
  .github/workflows/mac-cmake.yml
Labels: ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
