Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']

ci: use abs path for docs
  .github/workflows/docs.yml
Labels: ci

ci: touch nojekyll
  .github/workflows/docs.yml
Labels: ci

deploy: 63079d2e5ac18b505c141bcfa970ed54977bfbae
  develop/.nojekyll
Labels: none

docs: fix troubleshooting
  doxygen/dox/MetadataCachingInHDF5.dox
Labels: none

deploy: f4258c6198de499c02793a6d0f20122026136a81
  develop/_t_n_m_d_c.html
Labels: none

docs: add h5fd and tools library into doxygen
  doxygen/Doxyfile.in
  doxygen/dox/ReferenceManual.dox
  tools/lib/h5tools.c
  tools/lib/h5tools.h
Labels: none

Committing clang-format changes
  tools/lib/h5tools.h
Labels: none

deploy: f63ae4491637cd3e9a3cee8cff0308cdee661d0a
  develop/_h5_d__u_g.html
  develop/_h5_f__u_g.html
  develop/_h5_g__u_g.html
  develop/_h5_v_l__u_g.html
  develop/_l_b_contents.html
  develop/_v_o_l__connector.html
  develop/group___a_c_p_l.html
  develop/group___d_a_p_l.html
  develop/group___d_c_p_l.html
  develop/group___d_x_p_l.html
  develop/group___f_a_p_l.html
  develop/group___f_c_p_l.html
  develop/group___g_a_p_l.html
  develop/group___g_c_p_l.html
  develop/group___h5_d.html
  develop/group___h5_f.html
  develop/group___h5_g.html
  develop/group___h5_o.html
  develop/group___h5_p.html
  develop/group___l_a_p_l.html
  develop/group___l_c_p_l.html
  develop/group___o_c_p_l.html
  develop/group___o_c_p_y_p_l.html
  develop/group___p_d_t_a_l_p_h_a.html
  develop/group___p_d_t_c9x.html
  develop/group___p_d_t_i_e_e_e.html
  develop/group___p_d_t_m_i_p_s.html
  develop/group___p_d_t_n_a_t.html
  develop/group___p_d_t_s.html
  develop/group___p_d_t_s_t_d.html
  develop/group___p_d_t_u_n_i_x.html
  develop/group___p_d_t_x86.html
  develop/group___p_l_c_r.html
  develop/group___p_l_c_r_a.html
  develop/group___s_t_r_c_p_l.html
  develop/predefined_datatypes_tables.html
  develop/struct_h5_o__info1__t.html
  develop/struct_h5_o__info2__t.html
Labels: none

deploy: 067c7a129464ba91c567c6c05bfbee77dda564d7
  develop/group___f_h5_s.html
Labels: none

ci: add abi checker action
  .github/workflows/abi.yml
  .github/workflows/abi_c.yml
Labels: ci

deploy: eda20a294c64836aacfb7190124df5f94a391119
  develop/_f_m_t3.html
Labels: none

docs: remove signature
  release_docs/RELEASE.txt
Labels: none

ci: add mac14 test
  .github/workflows/mac14.yml
  HDF5Examples/C/H5T/h5ex_t_convert.c
Labels: ci

ci: fix os for mac14
  .github/workflows/mac14.yml
Labels: ci

ci: simplify mac14
  .github/workflows/mac14.yml
Labels: ci

docs: fix broken links
  doc/parallel-compression.md
Labels: none

chore: sync with upstream
  testpar/CMakeLists.txt
  testpar/CMakeTests.cmake
  testpar/cmp.c
Labels: none

fix: clang printf warning
  HDF5Examples/C/H5T/h5ex_t_convert.c
  HDF5Examples/C/H5T/h5ex_t_opaque.c
Labels: none

fix: sprintf to snprintf
  test/filter_plugin.c
Labels: test

chore: make one liner for #150
  test/filter_plugin.c
Labels: test

Committing clang-format changes
  test/filter_plugin.c
Labels: test

chore: add missing i
  test/filter_plugin.c
Labels: test

build: support autotools for mingw64
  src/Makefile.am
Labels: fix

fix: oneapi return value warning
  test/dt_arith.c
Labels: test

Committing clang-format changes
  test/dt_arith.c
Labels: test

build: check argument for cmake regex
  config/cmake/HDFUseFortran.cmake
Labels: none

build: fix cmake regex
  config/cmake/HDFUseFortran.cmake
  config/cmake/vfdTest.cmake
Labels: none

build: verify fortran for #153
  config/cmake/HDFUseFortran.cmake
Labels: none

ci: cwin
  .github/workflows/cwin.yml
  test/th5_system.c
Labels: test, ci

ci: s390x
  .github/workflows/s390x.yml
Labels: ci

Committing clang-format changes
  src/H5FDs3comms.c
Labels: fix

ci: sync upstream
  src/H5FDs3comms.c
Labels: fix

ci: remove extra whitespaces
  .github/workflows/mac-spack-h5py.yml
  .github/workflows/nvhpc-cmake.yml
Labels: ci

ci: callable cwin
  .github/workflows/cmake.yml
  .github/workflows/cwin-cmake.yml
  .github/workflows/cwin.yml
Labels: ci

ci: remove icc
  .github/workflows/lin-icc-sf.yml
  .github/workflows/lin-icc.yml
  WATCHME.md
Labels: repo, ci

ci: mlc_config.json
  mlc_config.json
Labels: repo

ci: sync H5FDs3comms
  src/H5FDs3comms.h
Labels: fix

deploy: 18af7bdd57e79e3de5395611dfc5e0b0249a0e6a
  develop/_h5_f_ds3comms_8h.html
  develop/search/all_8.js
  develop/search/functions_7.js
Labels: none

ci: cwin auto
  .github/workflows/autotools.yml
  .github/workflows/cwin-auto.yml
  WATCHME.md
Labels: repo, ci

docs: remove / at the beginning
  README.md
  WATCHME.md
Labels: repo
