Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

fix: close #89
  src/H5FDsubfiling/H5FDsubfiling.c
Labels: fix

docs: fix #90
  .github/workflows/d.yml
  WATCHME.md
  testpar/t_filters_parallel.c
Labels: repo, ci

ci: close #91
  .github/workflows/mac-cmake-flang-mpich.yml
  .github/workflows/win-ninja-icx.yml
  WATCHME.md
Labels: repo, ci

fix: remove include line for #92
  .github/workflows/mac-cmake-flang-mpich.yml
  fortran/examples/ph5example.f90
Labels: ci

ci: add more OpenBSD actions
  .github/workflows/auto.yml
  .github/workflows/r.yml
Labels: ci

ci: use /usr/bin/libtool
  .github/workflows/auto.yml
Labels: ci

ci: check obsd in autgogen.sh
  autogen.sh
Labels: repo

fix: sync with upstream
  src/H5system.c
Labels: fix

fix: USE MPI
  fortran/examples/ph5example.f90
Labels: none

ci: build flang only
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

fix: move line above IMPLICIT (#92)
  fortran/examples/ph5example.f90
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

docs: match file name (#95)
  .github/workflows/mac-cmake-flang-mpich.yml
  fortran/test/tHDF5_1_8.F90
Labels: ci

ci: disable static for mac flang action
  .github/workflows/mac-cmake-flang-mpich.yml
  WATCHME.md
Labels: repo, ci

fix: close #95
  fortran/examples/ph5example.f90
Labels: none

test: print chunk size
  testpar/t_subfiling_vfd.c
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

ci: add more badges
  .github/workflows/auto.yml
  WATCHME.md
Labels: repo, ci

ci: use GNU libtoolize for OpenBSD.
  .github/workflows/auto.yml
  autogen.sh
Labels: repo, ci

ci: test aocc with internal debug
  .github/workflows/linux-auto-aocc-d-f-ompi.yml
  WATCHME.md
Labels: repo, ci

ci: fix clone path
  .github/workflows/auto.yml
Labels: ci

ci: fix github path
  .github/workflows/auto.yml
Labels: ci

ci: test deflate for subfiling
  CMakeFilters.cmake
  testpar/t_subfiling_vfd.c
  utils/subfiling_vfd/h5fuse.sh.in
Labels: repo

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

docs: close #99
  src/H5Dio.c
  testpar/t_subfiling_vfd.c
Labels: fix

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

fix: close #100
  test/cmpd_dset.c
Labels: test

fix: gcc formatting error for #100
  test/cmpd_dset.c
Labels: test

chore: fix clang format
  src/H5Dio.c
  test/cmpd_dset.c
Labels: test, fix

chore: remove debugging line
  src/H5Dio.c
Labels: fix

test: add zlib subfiling that fails
  testpar/t_subfiling_vfd.c
Labels: none

deploy: 793d301dd49176db802a381a691b22e912b59647
  develop/_h5_s__u_g.html
  develop/_l_b_file_create.html
  develop/group___h5_d.html
Labels: none

Committing clang-format changes
  test/cmpd_dset.c
  testpar/t_subfiling_vfd.c
Labels: test

test: use collective.
  testpar/t_subfiling_vfd.c
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

ci: use bash for mac sf test
  .github/workflows/mac-clang15-cmake.yml
Labels: ci

ci: fix #101
  .github/workflows/mac-clang15-cmake.yml
  .github/workflows/mac-clang15-xcode.yml
  WATCHME.md
Labels: repo, ci

ci: install bash
  .github/workflows/mac-clang15-cmake.yml
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

fix: close #102
  .github/workflows/linux-nvhpc-auto.yml
  .github/workflows/linux-nvhpc-r.yml
  .github/workflows/linux-nvhpc.yml
  WATCHME.md
  testpar/t_subfiling_vfd.c
Labels: repo, ci

chore: fix #103
  fortran/testpar/subfiling.F90
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
