Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']

ci(aocc): fix cache id
  .github/workflows/lin-auto-aocc-ompi.yml
Labels: ci

ci(aocc): ifx cache id in if
  .github/workflows/lin-auto-aocc-ompi.yml
Labels: ci

docs: update cygwin instruction
  release_docs/INSTALL_Cygwin.txt
Labels: none

deploy: db3d3fa5a318a51c86c2ab80559d8534cd4c23c0
  develop/_about.html
  develop/_accessibility.html
  develop/_attributes.html
  develop/_files.html
  develop/_h5__u_g.html
  develop/_h5_a__u_g.html
  develop/_h5_d__u_g.html
  develop/_h5_f__u_g.html
  develop/_h5_g__u_g.html
  develop/_h5_p__u_g.html
  develop/_h5_p_l__u_g.html
  develop/_h5_ppublic_8h.html
  develop/_h5_s__u_g.html
  develop/_h5_t__u_g.html
  develop/_intro_h_d_f5.html
  develop/_intro_par_h_d_f5.html
  develop/_l_b_attr_create.html
  develop/_l_b_datatypes.html
  develop/_l_b_dset_create.html
  develop/_l_b_file_create.html
  develop/_l_b_grp_create.html
  develop/group___d_x_p_l.html
  develop/group___f_a_p_l.html
  develop/group___h5_a.html
  develop/group___h5_d.html
  develop/group___h5_d_o.html
  develop/group___h5_f.html
  develop/group___h5_g.html
  develop/group___h5_i.html
  develop/group___h5_l_t.html
  develop/group___h5_m.html
  develop/group___h5_o.html
  develop/group___h5_t_b.html
  develop/group___p_l_c_r.html
  develop/group___p_l_c_r_a.html
Labels: none

ci: add julia actions for pr test
  .github/workflows/lin-auto-jl.yml
  .github/workflows/lin-jl.yml
  WATCHME.md
Labels: repo, ci

deploy: 42d4a4d1e3c97db7585a0bec27a233a4ddbd4f2e
  develop/group___f_a_p_l.html
Labels: none

ci: cyg ompi
  .github/workflows/cwin-auto.yml
  .github/workflows/cwin-cmake.yml
  .github/workflows/cyg-ninja-sh-ompi.yml
  .github/workflows/cyg-ninja.yml
  .github/workflows/msys2-auto.yml
  .github/workflows/msys2.yml
  WATCHME.md
Labels: repo, ci

docs: fix table formatting
  src/H5Gmodule.h
Labels: fix

deploy: 7e8a3a9f938c2f587b2f96e4a19778ed6af630f3
  develop/_ex_a_p_i.html
  develop/_h5_g__u_g.html
Labels: none

deploy: 93806b18ab0141647983514a310c99663677a864
  develop/_ex_a_p_i.html
Labels: none

deploy: e4f66fca49e8d15fdfefd3ed315e074f098c7dd3
  develop/_ex_a_p_i.html
  develop/_h5_f_ddevelop_8h.html
  develop/struct_h5_f_d__class__t.html
  develop/struct_h5_f_d__free__t.html
  develop/struct_h5_f_d__t.html
Labels: none

ci: use 3 processors for parallel
  .github/workflows/cyg-ninja.yml
  .github/workflows/mac-auto-mpich.yml
  .github/workflows/mac-ninja-clang-h-f-j-mpich.yml
  .github/workflows/mac13-clang15-r-f-mpich-sf.yml
  .github/workflows/mac13-ninja-clang15-d-h-f-mpich-sf.yml
  .github/workflows/mac13-xcode-clang15-d-mpich-s3-sf.yml
  .github/workflows/mac14-ninja-clang19-fl-d-f-mpich-sf.yml
  WATCHME.md
Labels: repo, ci

fix: remove nvc warning for unreachable break
  src/H5trace.c
Labels: fix

chore: fix typo
  src/H5private.h
Labels: fix

chore: fix typo
  src/H5Tconv.c
Labels: fix

chore: fix typo
  test/dt_arith.c
Labels: test

docs: remove VS ptable error
  release_docs/RELEASE.txt
Labels: none

ci: use matrix for os
  .github/workflows/main-cmake.yml
Labels: ci

docs: fix grammar
  release_docs/RELEASE.txt
Labels: none

docs: clean up install
  release_docs/INSTALL
Labels: none

fix: VERSIO to VERSION
  config/cmake/CPack.Info.plist.in
Labels: none

chore: remove signature in comment
  src/H5Tconv.c
Labels: fix

ci: add daily rpm/deb installation test
  .github/workflows/alien.yml
  .github/workflows/dpkg.yml
  WATCHME.md
Labels: repo, ci

docs: fix broken links and references
  release_docs/INSTALL_Auto.txt
Labels: none

docs: fix broken link
  release_docs/INSTALL_CMake.txt
Labels: none

docs: change date to data
  release_docs/INSTALL_parallel
Labels: none

ci(alien): replace - with _ for #205
  .github/workflows/alien.yml
Labels: ci

ci(fbsd): test release
  .github/workflows/fbsd-d.yml
Labels: ci

ci(fbsd): test release
  .github/workflows/fbsd.yml
Labels: ci

ci(mac14,auto): add comprehensive debug test
  .github/workflows/mac14-auto-d-as-in-mp-mc-se-st-tr-sy.yml
  WATCHME.md
Labels: repo, ci

ci: change enable-static to enable-static-exec
  .github/workflows/alien.yml
  .github/workflows/dpkg.yml
  .github/workflows/mac14-auto-d-as-in-mp-mc-se-st-tr-sy.yml
Labels: ci

ci(intel): update version to 2024.1
  .github/workflows/intel-auto.yml
  .github/workflows/intel-cmake.yml
  .github/workflows/win-ninja-icx-f-p-sf.yml
  .github/workflows/win-ninja-icx-p.yml
  .github/workflows/win-ninja-icx.yml
Labels: ci

ci(oneAPI): set version 2024.1
  .github/workflows/cmake-ctest.yml
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-f-sh.yml
  .github/workflows/win-ninja-icx-f.yml
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci(h5py): sync version with py-h5py package version change
  .github/workflows/h5py.yml
Labels: ci

ci(oneAPI): fix yml
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci(oneAPI): fix indentation
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci(win): simplify ifx actions
  .github/workflows/win-ninja-icx-f-sh.yml
  .github/workflows/win-ninja-icx-f.yml
Labels: ci

ci(win): simplify parallel actions
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci: disable more actions
  .github/workflows/autotools.yml
  .github/workflows/cmake.yml
  .github/workflows/cve.yml
  .github/workflows/lin-auto-aocc-ompi.yml
  .github/workflows/msys2-auto.yml
  .github/workflows/msys2.yml
  .github/workflows/netcdf.yml
Labels: ci

ci: disable he5 action
  .github/workflows/hdfeos5.yml
Labels: ci
