Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']

ci: fix yml
  .github/workflows/mac-clang15-cmake.yml
Labels: ci

ci: set FC for Xcode
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

deploy: 47e6b7329b246d7846a1c4ba07cc209a2312c906
  develop/_h5_apublic_8h.html
  develop/group___h5_a.html
Labels: none

Committing clang-format changes
  testpar/t_subfiling_vfd.c
Labels: none

docs: close #80
  src/H5FDmpio.c
Labels: fix

ci: fix yml
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: adjust path
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: disable fortran for mac clang15
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

ci:add icx cmake sf debug
  .github/workflows/linux-icx-sf-debug.yml
Labels: ci

ci: increase test timeout to 3000 for armv7
  .github/workflows/armv7.yml
Labels: ci

docs: close #81
  src/H5FDmpio.c
  testpar/API/t_span_tree.c
  testpar/t_span_tree.c
Labels: fix

ci: enable sf for mac clang15
  .github/workflows/mac-clang15-cmake.yml
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

ci: use release tag for clang17
  .github/workflows/mac-clang15-cmake.yml
  .github/workflows/mac-clang15-xcode.yml
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci

ci: merge steps
  .github/workflows/mac-clang15-xcode.yml
Labels: ci

docs: close #82
  src/H5FDmpio.c
Labels: fix

fix: close #83
  test/h5test.c
Labels: test

Committing clang-format changes
  test/h5test.c
Labels: test

fix: close #84
  src/H5FDmpio.c
Labels: fix

docs: close #85
  src/H5FDsubfiling/H5FDioc_threads.c
Labels: fix

Committing clang-format changes
  src/H5FDsubfiling/H5FDioc_threads.c
Labels: fix

fix: close #86
  .github/workflows/win-ninja-icx-f-p-sf.yml
  CMakeLists.txt
Labels: repo, ci

ci: use checkout for win action
  .github/workflows/win-ninja-icx-f-p-sf.yml
Labels: ci

ci: use develop for branch name
  .github/workflows/win-ninja-icx-f-p-sf.yml
  src/H5system.c
Labels: fix, ci

docs: close #87
  release_docs/RELEASE.txt
Labels: none

ci: try cmake 3.27.1
  .github/workflows/win-ninja-icx-f-p.yml
Labels: ci

ci: try 3.27.4
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci: test 3.27.6
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci: revert to cmake 3.27.4
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci: try 3.27.3
  .github/workflows/win-ninja-icx-p.yml
Labels: ci

ci: no parallel
  .github/workflows/win-ninja-icx-f.yml
  .github/workflows/win-ninja-icx.yml
Labels: ci

ci: use cmake 3.27.6 and ninja test
  .github/workflows/win-ninja-icx-f-p-sf.yml
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-f.yml
  .github/workflows/win-ninja-icx-p.yml
  .github/workflows/win-ninja-icx.yml
Labels: ci

ci: disable zlib
  .github/workflows/win-ninja-icx-f-p-sf.yml
  .github/workflows/win-ninja-icx-f-p.yml
  .github/workflows/win-ninja-icx-f.yml
  .github/workflows/win-ninja-icx-p.yml
  .github/workflows/win-ninja-icx.yml
Labels: ci

ci: close #88
  README.md
Labels: repo

deploy: f069685877fa4327ef0908a4a3992e694e123a96
  develop/_h5_f__u_g.html
  develop/group___f_a_p_l.html
Labels: none

Remove under construction lines.
  hl/src/H5DOpublic.h
  hl/src/H5DSpublic.h
  hl/src/H5IMpublic.h
  hl/src/H5LTpublic.h
  hl/src/H5PTpublic.h
  hl/src/H5TBpublic.h
  src/H5ESmodule.h
  src/H5Imodule.h
  src/H5Lmodule.h
  src/H5Omodule.h
  src/H5PLmodule.h
  src/H5Rmodule.h
  src/H5Zmodule.h
Labels: fix

ci: add aocc action
  .github/workflows/linux-auto-aocc-ompi.yml
  .github/workflows/obsd.yml
Labels: ci

ci: change obsd action name
  .github/workflows/obsd.yml
Labels: ci

ci: add aocc
  .github/workflows/linux-auto-aocc-ompi.yml
Labels: ci

ci: add NPROCS
  .github/workflows/linux-auto-aocc-ompi.yml
Labels: ci

ci: use /tmp for installation
  .github/workflows/linux-auto-aocc-ompi.yml
  .github/workflows/mac-cmake-flang-mpich.yml
Labels: ci
