Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

ci: add ndk actions
  .github/workflows/lin-auto-ndk.yml
  .github/workflows/lin-ndk.yml
Labels: ci

ci: add ndk actions
  .github/workflows/s390x-lin.yml
  WATCHME.md
Labels: repo, ci

ci: add freebsd actions
  .github/workflows/arm64-fbsd-f-j.yml
  .github/workflows/fbsd-f-j.yml
  .github/workflows/fbsd-lf-j.yml
  .github/workflows/fbsd.yml
  WATCHME.md
Labels: repo, ci

ci: add netbsd actions
  .github/workflows/fbsd-f-j.yml
  .github/workflows/nbsd-f-j.yml
  .github/workflows/nbsd-f.yml
  .github/workflows/nbsd.yml
  WATCHME.md
Labels: repo, ci

ci(fbsd): remove hdf4
  .github/workflows/fbsd-lf-j.yml
Labels: ci

docs: remove broken links
  config/sanitizer/README.md
Labels: none

docs: add period
  src/H5PLmodule.h
Labels: fix

ci(nbsd): fix f definition
  .github/workflows/nbsd-f.yml
Labels: ci

deploy: 8160782c537376ddea5245ce10dfa2875c9f6fe2
  develop/_h5_p_l__u_g.html
Labels: none

ci: remove unused checks
  config/cmake/ConfigureChecks.cmake
Labels: none

docs: fix grammar
  .github/workflows/nbsd-f-j.yml
  .github/workflows/nbsd-f-sh.yml
  .github/workflows/r.yml
  WATCHME.md
  config/cmake/README.md.cmake.in
Labels: repo, ci

deploy: d087f3dece20ae960d04de8e7307ee0a01be9919
  develop/_f_m_t11.html
  develop/_f_m_t2.html
  develop/_f_m_t3.html
  develop/_h5_g__u_g.html
  develop/_h5_p_l__u_g.html
  develop/index.html
Labels: none

ci(nvhpc): add debug action
  .github/workflows/lin-nvhpc-d.yml
Labels: ci

ci(nvhpc): add debug action
  .github/workflows/lin-nvhpc-d.yml
  WATCHME.md
Labels: repo, ci

ci: use tar.gz extension for abi report
  .github/workflows/abi-report.yml
Labels: ci

deploy: 83313a83b0c281e9ed4f8dd2b547fbafa18a9e02
  develop/_l_b_com_dset.html
  develop/_l_b_dset_layout.html
  develop/_l_b_ext_dset.html
  develop/_learn_h_d_f_view.html
  develop/group___d_a_p_l.html
Labels: none

ci(msys2): add auto action
  .github/workflows/msys2-auto.yml
  WATCHME.md
Labels: repo, ci

ci(msys2,auto): use msys2 shell
  .github/workflows/msys2-auto.yml
Labels: ci

chore: match cmake version
  HDF5Examples/Using_CMake.txt
Labels: none

deploy: 69be02f891f1e10530d5dc9acce666c9b3718dce
  develop/_h5_t__u_g.html
  develop/_intro_par_h_d_f5.html
  develop/group___f_a_p_l.html
  develop/group___f_h5_p.html
  develop/group___h5_g.html
Labels: none

ci(msys2,auto): remove default shell
  .github/workflows/msys2-auto.yml
Labels: ci

ci(msys2,auto): set git
  .github/workflows/msys2-auto.yml
Labels: ci

ci: add riscv64 auto
  .github/workflows/lin-auto-aocc-d-f-ompi.yml
  .github/workflows/lin-auto-aocc-f-ompi.yml
  .github/workflows/lin-auto-icx-d-p-sf.yml
  .github/workflows/lin-auto-icx-d.yml
  .github/workflows/lin-auto-ompi-dr-mr-s3.yml
  .github/workflows/lin-icx-d-f-p-sf.yml
  .github/workflows/lin-icx-f-p-sf.yml
  .github/workflows/lin-icx.yml
  .github/workflows/linux-icx-auto-sf-debug.yml
  .github/workflows/riscv64-lin-auto.yml
  WATCHME.md
Labels: repo, ci

ci(mac14): add o4
  .github/workflows/lin-spack-f-ompi.yml
  .github/workflows/lin-spack-h5py.yml
  .github/workflows/mac-auto-ompi.yml
  .github/workflows/mac14-auto-o4.yml
  .github/workflows/win-ninja-icx-p.yml
  WATCHME.md
Labels: repo, ci

ci: fix yml
  .github/workflows/riscv64-lin-auto.yml
Labels: ci

ci: change branch name
  .github/workflows/lin-icx-d-f-p-sf.yml
  .github/workflows/lin-icx-f-p-sf.yml
  .github/workflows/lin-icx.yml
Labels: ci

ci(s390x,riscv64): install c++ via cmake
  .github/workflows/riscv64-lin-auto.yml
  .github/workflows/riscv64-lin.yml
  .github/workflows/s390x-lin.yml
  .github/workflows/win-ninja-icx-f.yml
  WATCHME.md
Labels: repo, ci

ci(s390x): add auto test
  .github/workflows/s390x-lin-auto.yml
Labels: ci

ci(riscv64,auto): rm sudo
  .github/workflows/mac13-ninja-clang17-fl-d-f-mpich-sf.yml
  .github/workflows/riscv64-lin-auto.yml
Labels: ci

ci(mac13): fix yml
  .github/workflows/mac13-ninja-clang17-fl-d-f-mpich-sf.yml
Labels: ci

ci(mac13): fix yml
  .github/workflows/mac13-ninja-clang17-fl-d-f-mpich-sf.yml
Labels: ci

ci:(s390x,auto): add g++
  .github/workflows/s390x-lin-auto.yml
Labels: ci

fix: illegal escape sequence
  src/H5Zdeflate.c
Labels: fix

docs: match cmake generators with cmake -G output
  HDF5Examples/Using_CMake.txt
Labels: none

ci: use aocc 4.2
  .github/workflows/aocc-auto.yml
  .github/workflows/aocc-cmake.yml
  .github/workflows/lin-auto-aocc-d-f-ompi.yml
  .github/workflows/lin-auto-aocc-f-ompi.yml
  .github/workflows/lin-auto-aocc-ompi.yml
Labels: ci

ci(aocc): fix download url
  .github/workflows/aocc-auto.yml
  .github/workflows/aocc-cmake.yml
  .github/workflows/lin-auto-aocc-d-f-ompi.yml
  .github/workflows/lin-auto-aocc-f-ompi.yml
  .github/workflows/lin-auto-aocc-ompi.yml
Labels: ci

fix: revert change for #184
  src/H5Zdeflate.c
Labels: fix

docs: user-defined
  fortran/test/tH5T.F90
  test/dt_arith.c
Labels: test

ci: use openmpi 4.1.6
  .github/workflows/aocc-auto.yml
  .github/workflows/aocc-cmake.yml
Labels: ci

ci: ompi 4.1.6
  .github/workflows/aocc-auto.yml
  .github/workflows/lin-auto-aocc-d-f-ompi.yml
  .github/workflows/lin-auto-aocc-f-ompi.yml
  .github/workflows/lin-auto-aocc-ompi.yml
Labels: ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']
