Repository hyoklee/hdf5, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, fix, docs, ci

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'test' label to any change to *.spec.js files within the source dir
test:
- test/**

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
fix:
- any: ['src/**', '!src/docs/*']

# Add 'docs` label to any change to docs/ release_docs  files
docs:
- any: ['docs/**', 'release_docs/**']

# Add 'ci` label to any change to .github/** files.
ci:
- any: ['.github/**']

ci: update openssl version
  .github/workflows/mac-cmake-offs.yml
  .github/workflows/mac-cmake-ros3.yml
Labels: ci

build: remove p64 warning (#3144)
  .github/workflows/linux-icx-auto.yml
  config/intel-warnings/15
Labels: ci

ci: add Xcode badge
  .github/workflows/mac-cmake-ros3.yml
  .github/workflows/mac-xcode.yml
  WATCHME.md
Labels: repo, ci

chore: match string size
  src/H5FDsubfiling/H5FDioc.c
Labels: fix

docs: improve consistency in verb form
  src/H5Fmodule.h
Labels: fix

docs: fix #48
  doxygen/dox/UsersGuide.dox
Labels: none

ci: fix #49
  .github/workflows/mac-xcode.yml
Labels: ci

ci: fix #50
  .github/workflows/mac-cmake-ros3.yml
Labels: ci

ci: fix #49
  .github/workflows/mac-xcode.yml
Labels: ci

ci: fix #52
  .github/workflows/dispatch.yml
  .github/workflows/mac-xcode.yml
Labels: ci

chore: fix #51
  config/cmake/ZLIB/zlib-config.cmake.in
Labels: none

ci: add curl in cmake
  src/CMakeLists.txt
Labels: fix

fix: HDmalloc -> malloc
  src/H5FDros3.c
Labels: fix

build: add .lib
  src/CMakeLists.txt
Labels: fix

build: fix curl
  src/CMakeLists.txt
Labels: fix

fix: remove HD
  src/H5FDros3.c
Labels: fix

fix: remove HDassert
  src/H5FDs3comms.c
Labels: fix

build: add curl for test
  test/CMakeLists.txt
Labels: test

Committing clang-format changes
  src/H5FDros3.c
Labels: fix

fix: remove HD
  src/H5FDros3.c
  tools/lib/h5tools_utils.c
Labels: fix

build: fix ros3 failure on mac
  .github/workflows/mac-xcode.yml
  tools/lib/h5tools_utils.c
  tools/libtest/h5tools_test_utils.c
Labels: ci

ci: install openssl
  .github/workflows/mac-xcode.yml
Labels: ci

ci: change openssl version
  .github/workflows/mac-xcode.yml
Labels: ci

build: add openssl
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: test, fix

build: add lib for crypto and ssl
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: test, fix

build: add static libs for windows
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: test, fix

Committing clang-format changes
  tools/libtest/h5tools_test_utils.c
Labels: none

ci: add mpich tests and remove curl
  .github/workflows/mac-auto-mpich.yml
  .github/workflows/mac-cmake-flang-mpich.yml
  .github/workflows/mac-cmake-mpich.yml
  src/CMakeLists.txt
  test/CMakeLists.txt
Labels: test, fix, ci

chore: close #54
  testpar/testphdf5.c
Labels: none

chore: fix #54
  testpar/t_coll_chunk.c
Labels: none

ci: test HDF5_Make_Ignore
  .github/workflows/mac-auto-mpich.yml
  WATCHME.md
Labels: repo, ci

ci: update spack mac action
  .github/workflows/spack-mac.yml
Labels: ci

fix: java ci failure
  tools/libtest/h5tools_test_utils.c
Labels: none

Committing clang-format changes
  tools/libtest/h5tools_test_utils.c
Labels: none

ci: fix sed error on mac
  .github/workflows/spack-mac.yml
Labels: ci

fix: ros3 tool failure
  tools/libtest/h5tools_test_utils.c
Labels: none

ci: exclude mpi diff tests
  .github/workflows/mac-cmake-mpich.yml
Labels: ci

chore: close #55
  testpar/API/t_bigio.c
  testpar/API/t_shapesame.c
  testpar/API/testphdf5.c
  testpar/t_bigio.c
  testpar/t_cache.c
  testpar/t_cache_image.c
  testpar/t_shapesame.c
  testpar/testphdf5.c
Labels: none

test(parallel): fix #58
  testpar/t_file.c
Labels: none

Committing clang-format changes
  testpar/t_file.c
Labels: none
